
.main-label {
    font-weight: bolder;
    font-size: 1.3em;
    width: fit-content;
}
  
.secondary-label {
    font-weight: 300;
    width: fit-content;
}
  
// .flex-horizontal {
//     display: flex;
//     flex-direction: row;
// }
.flex-vertical {
    display: flex;
    flex-direction: column;
}