    // Pallete
$primary-green: #43a84e;
$light-green: #ebffe9;
$lighter-green: #f6fff5;
$orange: #ea7e56;
$light-orange: #f39979;
$lighter-orange: #ffeae3;
$dark-grey: #111111;
$light-yellow: #ffffc9;
// $accent-green: #E9F2FF;
// $light-green: #E9F2FF;
// $white-green: #FEFEFF;
// $lighter-grey: #7a7b7c88;
$light-grey: #b7b8b9;
$lighter-grey: #cacaca;
// $grey: #191a1b;
// $dark-grey: #0a0a0a;
// $red: #d83030;


// Box shadow
$box-shadow-light: 2px 2px 20px #4078b913;
$box-shadow: 2px 2px 20px #4078b93d;
$box-shadow-hovered: 2px 2px 20px #4078b967;