@import '../vars.scss';

.create-game-input {
    outline: none;
    padding: 16px 6px;
    width: 40%;
    border-radius: 5px;
    font-size: 14px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;

    background-color: #f3f4f3;
    border: none;
}